body {
    background-color: black;
}

.centre_text_main {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
}

.centre_text_secondary {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
}

#text_input_small {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Courier;
    color: #39FF14;
    background-color: black;
}

.centre_button {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
}

.good_text {
    width: 100%;
    height: 500px;
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    text-align-last: left;
}

.good_radio {
    width: 100%;
    height: 100px;
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    text-align-last: left;
}

.centre_button_left {
    position: absolute;
    top: 55%;
    left: 43%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
}

.centre_button_right {
    position: absolute;
    top: 55%;
    left: 57%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
}

.centre_text_main_finish {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    font-size: 270%;
    color: #39FF14;
    background-color: black;
    text-align: center;
}

.centre_text_secondary_finish {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    font-size: 200%;
    color: #39FF14;
    background-color: black;
}

.centre_graph_left_1st {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    width: 200px;
    height: 80px
}

.centre_graph_1st {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    width: 200px;
    height: 80px
}

.centre_graph_right_1st {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    width: 200px;
    height: 80px
}

.centre_graph_left_2nd {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    width: 200px;
    height: 80px
}

.centre_graph_2nd {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    width: 200px;
    height: 80px
}

.centre_graph_title_left_1st {
    position: absolute;
    top: 54%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    width: 200px;
    height: 80px;
    font-size: 100%;
}

.centre_graph_title_1st {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    width: 200px;
    height: 80px;
    font-size: 100%;
}

.centre_graph_title_right_1st {
    position: absolute;
    top: 54%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    width: 200px;
    height: 80px;
    font-size: 100%;
}

.centre_graph_title_left_2nd {
    position: absolute;
    top: 74%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    width: 200px;
    height: 80px;
    font-size: 100%;
}

.centre_graph_title_2nd {
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
    width: 250px;
    height: 80px;
    font-size: 100%;
}

.centre_button_right_2nd {
    position: absolute;
    top: 76%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
}